/*body, html {*/
/*font-family: 'Open Sans', sans-serif;*/
/*background: #1f2933;*/
/*color: white;*/
/*height: 100%;*/
/*width: 100%;*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/
.input {
    margin-top: 20%;
}

.row input {
    height: 55px;
}

.btn {
    margin-top: 15px;
}