<!DOCTYPE html>
<html lang="ru" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Project Stack')"></head>
<body>
<link href="../css/community.css" rel="stylesheet" th:href="@{/css/community.css}">
<!--Channel Creation Modal Dialog-->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
            <!--<div class="modal-header">-->
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span-->
                        <!--class="sr-only">Close</span></button>-->
                <!--<h4 class="modal-title" id="myModalLabel" th:text="#{channel.new}">New channel</h4>-->
            <!--</div>-->
            <!--<div class="modal-body">-->
                <!--<form th:action="@{__${#httpServletRequest.requestURI}__/channels/new}" method="post" id="new-channel">-->
                    <!--<div class="form-group">-->
                        <!--<label for="title" th:text="#{channel.title}">Title</label>-->
                        <!--<input type="text" class="form-control" id="title" name="title" placeholder="Title"-->
                               <!--th:placeholder="#{channel.title}">-->
                    <!--</div>-->
                    <!--<div class="form-group">-->
                        <!--<label for="description" th:text="#{channel.description}">Description</label>-->
                        <!--<input type="text" class="form-control" id="description" name="description"-->
                               <!--placeholder="Description"-->
                               <!--th:placeholder="#{channel.description}">-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--<button type="submit" class="btn btn-primary" id="create" th:text="#{channel.create}">Create</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;NAVIGATION BAR&ndash;&gt;-->
<!--<div th:replace="fragments/navbar :: ${#authorization.expression('isAuthenticated()')}? 'signed-navbar' : 'notsigned-navbar'"></div>-->

<!--<div class="container-fluid">-->
    <!--<div class="row">-->
        <!--&lt;!&ndash;SIDEBAR&ndash;&gt;-->
        <!--<div class="col-md-2 sidebar">-->
            <!--<span>Channels </span><a th:if="${subscribed}"-->
                                     <!--class="glyphicon glyphicon-plus" data-toggle="modal" href="#myModal"></a>-->
            <!--<ul class="nav nav-sidebar" id="channelList">-->
                <!--<li th:each="channel : ${channelList}">-->
                    <!--<a href="#" th:href="@{'/' + ${channel.community.title} + '/channels/' + ${channel.title}}"-->
                       <!--th:text="${channel.title}">Channel</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--<span>Users </span>-->
            <!--<ul class="nav nav-sidebar" id="userList">-->
                <!--<li th:each="user : ${userList}">-->
                    <!--<a href="#" th:text="${user.user.username}">Username</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash;CHAT&ndash;&gt;-->
        <!--<div class="col-md-offset-2 col-md-10">-->
            <!--<div class="chat" id="messages">-->
            <!--</div>-->
            <!--<div class="message-input">-->
                <!--<input type="text" autocomplete="false" class="form-control" id="message" name="message"-->
                       <!--onsubmit="return false;"-->
                       <!--th:disabled="${#authorization.expression('!isAuthenticated()')}">-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div id="root">Loading...</div>

<div th:replace="fragments/footer :: bootstrap-scripts"></div>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.17.0/babel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.1.0/EventEmitter.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var csrf = /*[[${_csrf.token}]]*/ "";
var websocketPath = /*[[@{/websocket}]]*/ "";
window.ee = new EventEmitter();
/*]]>*/
</script>
<script type="text/babel">
    var NavBar = React.createClass({
        render: function () {
            return (
                    <nav className="navbar navbar-inverse navbar-fixed-top">
                        <div className="container-fluid">
                            <div className="navbar-header">
                                <button type="button"
                                        className="navbar-toggle collapsed"
                                        data-toggle="collapse"
                                        data-target="#notsigned-navbar"
                                        aria-expanded="false">
                                    <span className="sr-only">Toggle navigation</span>
                                    <span className="icon-bar"></span>
                                    <span className="icon-bar"></span>
                                    <span className="icon-bar"></span>
                                </button>
                                <a className="navbar-brand" href="/">Montao</a>
                            </div>

                            <div className="collapse navbar-collapse" id="notsigned-navbar">
                                <ul className="nav navbar-nav navbar-right">
                                    <li><a href="/registration" >Sing up</a></li>
                                    <li><a href="/login" >Log in</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
            )
        }
    });
    var NewChannelModal = React.createClass({
        render: function () {
            return (
                    <div className="modal fade" id="myModal"
                         tabindex="-1"
                         role="dialog"
                         aria-labelledby="myModalLabel"
                         aria-hidden="true">
                        <div className="modal-dialog">
                            <div className="modal-content">
                                <div className="modal-header">
                                    <button type="button" className="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                        <span className="sr-only">Close</span>
                                    </button>
                                    <h4 className="modal-title" id="myModalLabel">New channel</h4>
                                </div>
                                <div className="modal-body">
                                    <form action="" method="post" id="new-channel">
                                        <div className="form-group">
                                            <label htmlFor="title">Title</label>
                                            <input type="text"
                                                   className="form-control"
                                                   id="title"
                                                   name="title"
                                                   placeholder="Title" />
                                        </div>
                                        <div className="form-group">
                                            <label htmlFor="description">Description</label>
                                            <input type="text"
                                                   className="form-control"
                                                   id="description"
                                                   name="description"
                                                   placeholder="Description" />
                                        </div>
                                    </form>
                                </div>
                                <div className="modal-footer">
                                    <button type="button" className="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" className="btn btn-primary" id="create">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>
            )
        }
    });
    var Channel = React.createClass({
        handleClick: function (event) {
            event.preventDefault();
            window.ee.emit('Channel.changed', this.props.channel.title)
        },
        render: function () {
            var channel = this.props.channel;
            var path = $(location).attr('pathname');
            return (
                    <li>
                        <a
                                href={`${(path)}/channels/${(channel.title)}`}
                                onClick={this.handleClick}
                        >{channel.title}</a>
                    </li>
            )
        }
    });
    var ChannelList = React.createClass({
        getInitialState: function () {
            return {
                channels: []
            }
        },
        componentDidMount: function() {
            var csrfToken = csrf;
            var csrfHeader = 'X-CSRF-TOKEN';
            var headers = {};
            headers[csrfHeader] = csrfToken;
            $.ajax({
                url: '/api/channel/get_channels?communityTitle=' + $(location).attr('pathname').substring(1, $(location).attr('pathname').length),
                type: 'post',
                headers: headers,
                success: function (result) {
                    this.setState({
                        channels: result
                    })
                }.bind(this)
            });
        },
        render: function () {
            var channels = this.state.channels;
            var channelListTemplate = channels.map(function (channel, index) {
                return (
                        <Channel key={channel.id} channel={channel}/>
                )
            });
            return (
                    <div>
                        <span>Channels </span>
                        <ul className="nav nav-sidebar" id="channelList">
                            {channelListTemplate}
                        </ul>
                    </div>
            )
        }
    });
    var User = React.createClass({
        render: function () {
            var user = this.props.user;
            return (
                    <li>
                        <a href={`/${(user.user.username)}`}>{user.user.username}</a>
                    </li>
            )
        }
    });
    var UserList = React.createClass({
        getInitialState: function () {
            return {
                users: []
            }
        },
        componentDidMount: function () {
            this.getSubscribedUsers()
        },
        getSubscribedUsers: function () {
            var csrfToken = csrf;
            var csrfHeader = 'X-CSRF-TOKEN';
            var headers = {};
            headers[csrfHeader] = csrfToken;
            $.ajax({
                url: '/api/user/get_subscribed_users?communityTitle=' + $(location).attr('pathname').substring(1, $(location).attr('pathname').length),
                type: 'post',
                headers: headers,
                success: function (result) {
                    this.setState({
                        users: result
                    })
                }.bind(this)
            });
        },
        render: function () {
            var users = this.state.users;
            var userListTemplate = users.map(function (user, index) {
                return (
                        <User key={user.id} user={user}/>
                )
            });
            return (
                    <div>
                        <span>Users</span>
                        <ul className="nav nav-sidebar" id="userList">
                            {userListTemplate}
                        </ul>
                    </div>
            )
        }
    });
    var SideBar = React.createClass({
        render: function () {
            return (
                    <div>
                        <ChannelList/>
                        <UserList/>
                    </div>
            )
        }
    });
    var Message = React.createClass({
        render: function () {
            var message = this.props.message;
            return (
                    <div id={message.id} className="panel panel-danger">
                        <div className="panel-body">
                            <strong>{message.user.username}</strong>
                            <small>{message.receivedTime}</small>
                            <p>{message.message}</p>
                        </div>
                    </div>
            )
        }
    });
    var MessageBox = React.createClass({
        getInitialState: function () {
            return {
                startRowPosition: 0,
                messages: []
            }
        },
        componentDidMount: function () {
            // Set event listener to message box scroll
            var node = ReactDOM.findDOMNode(this);
            node.addEventListener('scroll', this.handleScroll)
        },
        componentWillReceiveProps: function (nextProps) {
            if (this.props.channel !== nextProps.channel) {
                // First messages load
                this.getMessages(nextProps.channel);
                var node = ReactDOM.findDOMNode(this);
                console.log(node.scrollTop);
                console.log(node.scrollHeight);
                node.scrollTop = node.scrollHeight;
                console.log(node.scrollTop)
            }
            if (this.props.webSocket !== nextProps.webSocket) {
                // Subscribe to websocket topic
                this.subscribeToTopic(nextProps.webSocket);
            }
        },
        componentWillUnmount: function () {
            this.removeEventListener('scroll', this.handleScroll)
            if (this.props.webSocket != null) {
                this.props.webSocket.unsubscribe();
            }
        },
        subscribeToTopic: function (webSocket) {
            console.log('hello')
            var communityTitle = $(location).attr('pathname').substring(1, $(location).attr('pathname').length);
            webSocket.subscribe('/topic/' + communityTitle + '/' + this.props.channel, this.newMessageHandler)
        },
        newMessageHandler: function (incoming) {
            var message = JSON.parse(incoming.body);
            var nextMessage = message.append(this.state.messages);
            this.setState({
                messages: nextMessage
            })
        },
        handleScroll: function (event) {
        },
        getMessages: function (channelTitle) {
            var csrfToken = csrf;
            var csrfHeader = 'X-CSRF-TOKEN';
            var headers = {};
            headers[csrfHeader] = csrfToken;
            $.ajax({
                url: '/api/message/get_messages?communityTitle=' + $(location).attr('pathname').substring(1, $(location).attr('pathname').length) + '&channelTitle=' + channelTitle + '&startRowPosition=' + this.state.startRowPosition,
                type: 'post',
                headers: headers,
                success: function (result) {
                    this.setState({
                        messages: result,
                        startRowPosition: 40
                    })
                }.bind(this)
            });
        },
        render: function () {
            console.log(this);
            var messages = this.state.messages;
            var messagesTemplate = messages.map(function (message) {
                return (
                        <Message key={message.id} message={message}/>
                )
            });
            return (
                    <div className="chat" id="messages">
                        {messagesTemplate}
                    </div>
            )
        }
    });
    var Chat = React.createClass({
        getInitialState: function () {
            return {
                currentChannelTitle: '',
                stomp: null
            }
        },
        componentDidMount: function () {
            // Connect to websocket
            this.connectToWebSocket();
            this.getLastOpenedChannel();
            window.ee.addListener('Channel.changed', (channelTitle) => {
                this.setState({currentChannelTitle: channelTitle})
            })
        },
        componentWillUnmount: function () {
            window.ee.removeListener('Channel.changed')
        },
        getLastOpenedChannel: function () {
            var csrfToken = csrf;
            var csrfHeader = 'X-CSRF-TOKEN';
            var headers = {};
            headers[csrfHeader] = csrfToken;
            $.ajax({
                url: '/api/channel/get_last_opened_channel?communityTitle=' + $(location).attr('pathname').substring(1, $(location).attr('pathname').length),
                type: 'post',
                headers: headers,
                success: function (channel) {
                    this.setState({
                        currentChannelTitle: channel.title
                    })
                }.bind(this)
            });
        },
        connectToWebSocket: function () {
            var sock = new SockJS('/websocket');
            var stomp = Stomp.over(sock);
            stomp.connect(
                    'guest',
                    'guest',
                    this.handleWebSocketSuccessConnection(stomp),
                    this.handleWebSocketFailureConnection(stomp))
        },
        handleWebSocketSuccessConnection: function (stomp) {
            this.setState({
                stomp: stomp
            })
        },
        handleWebSocketFailureConnection: function (stomp) {

        },
        render: function () {
            return (
                    <div className="container-fluid">
                        <div className="row">
                            <div className="col-md-2 sidebar">
                                <SideBar/>
                            </div>
                            <div className="col-md-offset-2 col-md-10">
                                <MessageBox channel={this.state.currentChannelTitle} webSocket={this.state.stomp}/>
                            </div>
                        </div>
                    </div>
            )
        }
    });
    class App extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                isAuthorized: false,
                username: ''
            }
        }
        render() {
            return (
                    <div>
                        <NavBar isAuthorized={this.state.isAuthorized} username={this.state.username}/>
                        <Chat/>
                    </div>
            )
        }
    }
    ReactDOM.render(
            <App/>,
            document.getElementById('root')
    );
</script>


<!--<script th:src="@{/js/chat.js}" src="../js/chat.js"></script>-->
<!--<script th:src="@{/js/new-channel-submit.js}" src="../js/new-channel-submit.js"></script>-->
<!--<script th:src="@{/js/message-submit.js}" src="../js/message-submit.js"></script>-->
</body>
</html>