<!DOCTYPE html>
<html lang="ru" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Project Stack')"></head>
<body>
<link href="../css/community.css" rel="stylesheet" th:href="@{/css/community.css}">
<!--Channel Creation Modal Dialog-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" th:text="#{channel.new}">New channel</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{__${#httpServletRequest.requestURI}__/channels/new}" method="post" id="new-channel">
                    <div class="form-group">
                        <label for="title" th:text="#{channel.title}">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                               th:placeholder="#{channel.title}">
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{channel.description}">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                               placeholder="Description"
                               th:placeholder="#{channel.description}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="create" th:text="#{channel.create}">Create</button>
            </div>
        </div>
    </div>
</div>
<!--NAVIGATION BAR-->
<div th:replace="fragments/navbar :: ${#authorization.expression('isAuthenticated()')}? 'signed-navbar' : 'notsigned-navbar'"></div>

<div class="container-fluid">
    <div class="row">
        <!--SIDEBAR-->
        <div class="col-md-2 sidebar">
            <span>Channels </span><a class="glyphicon glyphicon-plus" data-toggle="modal" href="#myModal"
                                     th:if="${#authorization.expression('isAuthenticated()')}"></a>
            <ul class="nav nav-sidebar" id="channelList">
                <li th:each="channel : ${channelList}">
                    <a href="#" th:text="${channel.title}">Channel</a>
                </li>
            </ul>
        </div>
        <!--CHAT-->
        <div class="col-md-offset-2 col-md-10">
            <div class="chat" id="messages">
                <div class="panel panel-default" th:each="message : ${messages}" th:id="${message.id}">
                    <div class="panel-body">
                        <strong th:text="${message.user.username}">username</strong>
                        <small th:text="${{message.receivedTime}}">2016-04-05 21:05</small>
                        <p th:text="${message.message}">Hello World!</p>
                    </div>
                </div>
            </div>
            <div class="message-input">
                <input type="text" autocomplete="false" class="form-control" id="message" name="message"
                       onsubmit="return false;"
                       th:disabled="${#authorization.expression('!isAuthenticated()')}">
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: bootstrap-scripts"></div>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        // Scroll to bottom after page load
        var $messages = $('#messages');
        $messages.scrollTop($messages.get(0).scrollHeight)
    })
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var pathArray = $(location).attr('pathname').split('/');
        var currentCommunity = pathArray[1];

        $('#create').click(function () {
            $('#new-channel').submit()
        });

        $('#new-channel').validate({
            rules: {
                title: {
                    required: true,
                    minlength: 4,
                    remote: {
                        url: '/' + currentCommunity + "/channels/check_title",
                        type: "post",
                        data: {  // MUST send the CSRF Token Value
                            '_csrf': function () {
                                return $('input[name="_csrf"]').val();
                            }
                        }
                    }
                }
            },
            messages: {
                title: {
                    remote: "This title already exists."
                }
            },
            submitHandler: function () {
                var channelForm = {
                    title: $('#title').val(),
                    description: $('#description').val()
                };
                var csrfToken = /*[[${_csrf.token}]]*/ '';
                var csrfHeader = 'X-CSRF-TOKEN';
                var headers = {};
                headers[csrfHeader] = csrfToken;
                $.ajax({
                    url: '/' + currentCommunity + '/channels/new',
                    type: "post",
                    contentType: "application/json",
                    cache: false,
                    data: JSON.stringify(channelForm),
                    headers: headers,
                    success: callback
                });
                return false;
            }
        });

        function callback(response) {
            console.log(response);
            if (response === 'success') {
                $('#myModal').modal("hide")
            }
        }

        $("#title").on("keypress", function (event) {
            // Disallow anything not matching the regex pattern (A to Z uppercase, a to z lowercase, digits 0 to 9 and underscore ("_"))
            var englishAlphabetDigitsAndUnderscore = /\w+/g;
            // Retrieving the key from the char code passed in event.which
            var key = String.fromCharCode(event.which);
            if (englishAlphabetDigitsAndUnderscore.test(key)) {
                return true;
            }
            // If we got this far, just return false because a disallowed key was typed.
            return false;
        }).on("paste", function (event) {
            event.preventDefault();
        });
    });
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var path = /*[[@{/websocket}]]*/ "";
        var sock = new SockJS(path);
        var stomp = Stomp.over(sock);
        var pathArray = $(location).attr('pathname').split('/');
        var currentCommunity = pathArray[1];

        stomp.connect('guest', 'guest', function (frame) {
            stomp.subscribe('/topic/' + currentCommunity + '/newchannel', handleNewChannel)
        });

        function handleNewChannel(incoming) {
            var channel = JSON.parse(incoming.body);
            $('#channelList').append(
                    $('<li>').append(
                            $('<a>').attr('href', '#').text(channel.title)
                    )
            )
        }
    });
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $('#message').keypress(function (event) {
            if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
                if ($.trim($(this).val()).length > 0) {
                    var messageForm = {
                        message: $(this).val()
                    };
                    var csrfToken = /*[[${_csrf.token}]]*/ '';
                    var csrfHeader = 'X-CSRF-TOKEN';
                    var headers = {};
                    headers[csrfHeader] = csrfToken;
                    $.ajax({
                        url: $(location).attr('pathname') + '/messages/new',
                        type: "post",
                        contentType: "application/json",
                        cache: false,
                        data: JSON.stringify(messageForm),
                        headers: headers,
                        success: function (result) {
                            if (result == 'success') {
                                $('#message').val('')
                            }
                        }
                    });
                    return false;
                }
            }
        })
    });
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var path = /*[[@{/websocket}]]*/ "";
        var sock = new SockJS(path);
        var stomp = Stomp.over(sock);
        var pathArray = $(location).attr('pathname').split('/');
        var currentCommunity = pathArray[1];
        var currentChannel = pathArray[3];

        stomp.connect('guest', 'guest', function (frame) {
            stomp.subscribe('/topic/' + currentCommunity + '/' + currentChannel, handleChannel)
        });

        function handleChannel(incoming) {
            var message = JSON.parse(incoming.body);
            var $messages = $('#messages');
            $messages.append(
                    $('<div>').attr('id', message.id).attr('class', 'panel panel-danger').append(
                            $('<div>').attr('class', 'panel-body').append(
                                    $('<strong>').text(message.user.username),
                                    $('<small>').text(message.receivedTime),
                                    $('<p>').text(message.message)
                            )
                    ).fadeIn(600).delay(5000).queue(function () {
                        $(this).attr('class', 'panel panel-default').clearQueue()
                    })
            ).animate({
                scrollTop: $messages.get(0).scrollHeight
            }, 400)
        }
    });
    /*]]>*/
</script>
</body>
</html>