<!DOCTYPE html>
<html lang="ru" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Project Stack')"></head>
<body>
<link href="../css/community.css" rel="stylesheet" th:href="@{/css/community.css}">
<!--Channel Creation Modal Dialog-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel" th:text="#{channel.new}">New channel</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{__${#httpServletRequest.requestURI}__/channels/new}" method="post" id="new-channel">
                    <div class="form-group">
                        <label for="title" th:text="#{channel.title}">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                               th:placeholder="#{channel.title}">
                    </div>
                    <div class="form-group">
                        <label for="description" th:text="#{channel.description}">Description</label>
                        <input type="text" class="form-control" id="description" name="description"
                               placeholder="Description"
                               th:placeholder="#{channel.description}">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="create" th:text="#{channel.create}">Create</button>
            </div>
        </div>
    </div>
</div>
<!--NAVIGATION BAR-->
<div th:replace="fragments/navbar :: ${#authorization.expression('isAuthenticated()')}? 'signed-navbar' : 'notsigned-navbar'"></div>

<div class="container-fluid">
    <div class="row">
        <!--SIDEBAR-->
        <div class="col-md-2 sidebar">
            <span>Channels </span><a th:if="${subscribed}"
                                     class="glyphicon glyphicon-plus" data-toggle="modal" href="#myModal"></a>
            <ul class="nav nav-sidebar" id="channelList">
                <li th:each="channel : ${channelList}">
                    <a href="#" th:text="${channel.title}">Channel</a>
                </li>
            </ul>
        </div>
        <!--CHAT-->
        <div class="col-md-offset-2 col-md-10">
            <div class="chat" id="messages">
                <div class="panel panel-default" th:each="message : ${messages}" th:id="${message.id}">
                    <div class="panel-body">
                        <strong th:text="${message.user.username}">username</strong>
                        <small th:text="${{message.receivedTime}}">2016-04-05 21:05</small>
                        <p th:text="${message.message}">Hello World!</p>
                    </div>
                </div>
            </div>
            <div class="message-input">
                <input type="text" autocomplete="false" class="form-control" id="message" name="message"
                       onsubmit="return false;"
                       th:disabled="${#authorization.expression('!isAuthenticated()')}">
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: bootstrap-scripts"></div>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="//cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var csrf = /*[[${_csrf.token}]]*/ "";
    var websocketPath = /*[[@{/websocket}]]*/ "";
    /*]]>*/
</script>
<script th:src="@{/js/chat-connection.js}" src="../js/chat-connection.js"></script>
<script th:src="@{/js/new-channel-submit.js}" src="../js/new-channel-submit.js"></script>
<script th:src="@{/js/message-submit.js}" src="../js/message-submit.js"></script>
<script th:src="@{/js/messages-scroll.js}" src="../js/messages-scroll.js"></script>
</body>
</html>