<!DOCTYPE html>
<html lang="ru" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Montao')"></head>
<body>
<div th:replace="fragments/navbar :: ${#authorization.expression('isAuthenticated()')}? 'signed-navbar' : 'notsigned-navbar'"></div>

<div class="container-fluid" style="margin-top: 100px">
    <div class="row" id="communities">
    </div>
</div>

<div th:replace="fragments/footer :: bootstrap-scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var csrf = /*[[${_csrf.token}]]*/ "";
    var isAuthorizated = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
    /*]]>*/
</script>
<script th:src="@{/js/community-list-scroll.js}" src="../js/community-list-scroll.js"></script>
<script th:src="@{/js/subscription.js}" src="../js/subscription.js"></script>
</body>
</html>