<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head(${user.getUsername()})"></head>
<body>
<div th:replace="fragments/navbar :: ${#authorization.expression('isAuthenticated()')}? 'signed-navbar' : 'notsigned-navbar'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1 th:text="${user.getUsername()}">Username</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>Registration date:</dt>
                <dd th:text="${user.getRegistrationDate()}">12.05.2016</dd>
            </dl>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: bootstrap-scripts"></div>
</body>