<!DOCTYPE html>
<html lang="ru" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Project Stack')"></head>
<body>
<link href="../css/community.css" rel="stylesheet" th:href="@{/css/community.css}">
<div id="root">Loading...</div>
<div th:replace="fragments/footer :: bootstrap-scripts"></div>
<!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>-->
<script th:inline="javascript">
    /*<![CDATA[*/
    var csrf = /*[[${_csrf.token}]]*/ "";
    var websocketPath = /*[[@{/websocket}]]*/ "";
    /*]]>*/
</script>
<script src="../build/bundle.js"></script>
</body>
</html>