<!DOCTYPE html>
<html lang="ru" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Montao')"></head>
<body>
<div id="root">Loading...</div>
<div th:replace="fragments/footer :: bootstrap-scripts"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var csrf = /*[[${_csrf.token}]]*/ "";
    var isAuthorizated = /*[[${#authorization.expression('isAuthenticated()')}]]*/ false;
    /*]]>*/
</script>
<script src="../build/bundle.js"></script>
</body>
</html>