<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: head('Success')"></head>
<body>
<div th:replace="fragments/navbar :: ${#authorization.expression('isAuthenticated()')}? 'signed-navbar' : 'notsigned-navbar'"></div>
<div class="container">
    <div class="row">
        <div class="con-lg-12">
            <h1>Congratulations! You have successfully registered!</h1>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: bootstrap-scripts"></div>
</body>
</html>