.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.chat {
    top: 70px;
    /*bottom: 100px;*/
    height: 87%;
    width: 82%;
    position: fixed;
    overflow-y: auto;
}

.message-input {
    position: fixed;
    bottom: 10px;
    width: 82%;
}

div.text-center input{
    border-radius: 20px;
    padding-left: 5px;
    width: 170px;
    margin-top: 4px;
}

div.input-group-btn{width:1% !important;}

@media (min-width: 768px) {
    div.navbar-collapse > div.col-sm-offset-3 {position:absolute;}
}