<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<!--"SIGNED IN" NAVIGATION BAR-->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="signed-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#signed-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Montao</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="signed-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"
                       th:text="${#authentication.name}">Username <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{'/' + ${#authentication.name}}">Profile</a></li>
                        <li><a th:href="@{/communities/new}" th:text="#{community.new}">New Community</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Setting</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" onclick="$('#logout').submit();" th:text="#{user.log_out}">Log out</a>
                    <form style="visibility: hidden" th:action="@{/logout}" method="post" id="logout"></form>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--"NOT SIGNED IN" NAVIGATION BAR-->
<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="notsigned-navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#notsigned-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" th:href="@{/}">Montao</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="notsigned-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/registration}" th:text="#{user.sign_up}">Sing up</a></li>
                <li><a href="#" th:href="@{/login}" th:text="#{user.log_in}">Log in</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>