<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stack главная страница</title>
    <meta name="description" content="stack всё для разработчика" />
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    
    <!--favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/jquery-3.0.0.min.js" type='text/javascript'></script>
    
    <!--CSS-->
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
    
    <script src="js/jquery-3.0.0.min.js" type='text/javascript'></script>
    <script src="js/popup-window.js" type='text/javascript'></script>
    <script src="js/popup-search.js" type='text/javascript'></script>
    <script src="js/popup-avatar-menu.js" type='text/javascript'></script>
</head>
<body>
    <header>
        <nav class="unselectable">
            <div class="logo">
                <a href="#"><img src="images/pure-psevdo-logo.png" alt="Stack logo" style="width:85px; height:70px;" title="Stack logo"></a>
            </div>
            <div class="search">
                <input type="search" placeholder="Поиск сообществ">
                <button>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
           <div id="mobile-search-button" >
               <i class="fa fa-search" aria-hidden="true" onclick="this.className=(this.className=='fa fa-search' ? 'fa fa-close' : 'fa fa-search')"></i>
           </div>
           <input type="text" id="mobile-search">
           <div id="avatar-contain">
            <img src="images/Myaka.jpg" alt="">
            <i class="fa fa-chevron-circle-down" onclick="this.className=(this.className=='fa fa-chevron-circle-down' ? 'fa fa-chevron-circle-up' : 'fa fa-chevron-circle-down')"></i>
           </div>
           <div id="cover">
                <div id="popup-window">
                   <h2>Авторизация</h2>
                    <input type="text" placeholder="Адрес электронной почты">
                    <input type="text" placeholder="Пароль">
                    <div class="button-contain" id="submit-button"><span class="unselectable">Войти</span></div>
                    <p>Нет акканута ?</p>
                    <div class="button-contain" id="call-create-account-window-button"><span class="unselectable">Создать аккаунт</span></div>
                </div>
                <div id="create-account-window">
                    <h2>Регистрация</h2>
                    <div>
                        <span>Введите email</span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Придумайте пароль</span>
                        <input type="text">
                    </div>
                    <div>
                        <span>Повторите придуманный пароль</span>
                        <input type="text">
                    </div>
                    <div class="button-contain" id="create-account-button"><span class="unselectable">Создать аккаунт</span></div>
                </div>
                <div id="exit-area"></div>
            </div>
        </nav>
    </header>
    <article>
    <div>
        <ul id="popup-menu" class="unselectable">
           <li>Профиль</li> 
           <li>Новые сообщества</li>
           <li>Настройки</li>
           <li>Выйти</li> 
        </ul>
    </div>
        <table>
            <tr>
                <td><div class="community"><span class="unselectable">Main</span></div></td>
            </tr>
        </table>
    </article>
    <footer><a href="mailto:ask@htmlbook.ru?subject=Эта штука не работает">Техподдержка: StackTechSup@gmail.com</a></footer>
</body>
</html>